USE [master]
GO
/****** Object:  Database [VBDQEntityDB]    Script Date: 22/10/2022 6:45:03 CH ******/
CREATE DATABASE [VBDQEntityDB]
GO
USE [VBDQEntityDB]
GO
/****** Object:  Table [dbo].[ChiTietPhieuBan]    Script Date: 22/10/2022 6:45:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuBan](
	[MaChiTietPhieu] [nvarchar](128) NOT NULL,
	[MaPhieu] [nvarchar](128) NOT NULL,
	[MaSP] [nvarchar](128) NOT NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuMua]    Script Date: 22/10/2022 6:45:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuMua](
	[MaChiTietPhieu] [nvarchar](128) NOT NULL,
	[MaPhieu] [nvarchar](128) NOT NULL,
	[MaSP] [nvarchar](128) NOT NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonVi]    Script Date: 22/10/2022 6:45:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonVi](
	[MaDV] [int] IDENTITY(1,1) NOT NULL,
	[TenDV] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 22/10/2022 6:45:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 22/10/2022 6:45:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[MaLoaiSP] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiSP] [nvarchar](max) NULL,
	[LoiNhuan] [decimal](2, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 22/10/2022 6:45:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaND] [int] IDENTITY(1,1) NOT NULL,
	[TenND] [nvarchar](max) NULL,
	[TenDangNhap] [nvarchar](max) NULL,
	[MatKhau] [nvarchar](max) NULL,
	[MaQH] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 22/10/2022 6:45:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SoDT] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuBan]    Script Date: 22/10/2022 6:45:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuBan](
	[MaPhieu] [nvarchar](128) NOT NULL,
	[NgayLap] [datetime] NULL,
	[MaKH] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuMua]    Script Date: 22/10/2022 6:45:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuMua](
	[MaPhieu] [nvarchar](128) NOT NULL,
	[NgayLap] [datetime] NULL,
	[MaNCC] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyenHan]    Script Date: 22/10/2022 6:45:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyenHan](
	[MaQH] [int] IDENTITY(1,1) NOT NULL,
	[TenQH] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 22/10/2022 6:45:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [nvarchar](128) NOT NULL,
	[TenSP] [nvarchar](max) NULL,
	[DonGia] [money] NULL,
	[MaLoaiSP] [int] NOT NULL,
	[MaDV] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ChiTietPhieuBan] ([MaChiTietPhieu], [MaPhieu], [MaSP], [SoLuong]) VALUES (N'1', N'1', N'1', 12)
INSERT [dbo].[ChiTietPhieuBan] ([MaChiTietPhieu], [MaPhieu], [MaSP], [SoLuong]) VALUES (N'10', N'3', N'10', 43)
INSERT [dbo].[ChiTietPhieuBan] ([MaChiTietPhieu], [MaPhieu], [MaSP], [SoLuong]) VALUES (N'2', N'1', N'2', 32)
GO
INSERT [dbo].[ChiTietPhieuMua] ([MaChiTietPhieu], [MaPhieu], [MaSP], [SoLuong]) VALUES (N'1', N'1', N'1', 120)
INSERT [dbo].[ChiTietPhieuMua] ([MaChiTietPhieu], [MaPhieu], [MaSP], [SoLuong]) VALUES (N'10', N'3', N'10', 434)
INSERT [dbo].[ChiTietPhieuMua] ([MaChiTietPhieu], [MaPhieu], [MaSP], [SoLuong]) VALUES (N'2', N'1', N'2', 320)
GO
SET IDENTITY_INSERT [dbo].[DonVi] ON 

INSERT [dbo].[DonVi] ([MaDV], [TenDV]) VALUES (1, N'cái')
INSERT [dbo].[DonVi] ([MaDV], [TenDV]) VALUES (2, N'chỉ')
INSERT [dbo].[DonVi] ([MaDV], [TenDV]) VALUES (3, N'lượng')
SET IDENTITY_INSERT [dbo].[DonVi] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKH]) VALUES (1, N'An Bùi')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH]) VALUES (2, N'Vẫn là An Bùi')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH]) VALUES (3, N'Vẫn là An bùi nhưng mà chữ b không ghi hoa')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiSanPham] ON 

INSERT [dbo].[LoaiSanPham] ([MaLoaiSP], [TenLoaiSP], [LoiNhuan]) VALUES (1, N'Nhẫn', CAST(0.22 AS Decimal(2, 2)))
INSERT [dbo].[LoaiSanPham] ([MaLoaiSP], [TenLoaiSP], [LoiNhuan]) VALUES (2, N'Vòng tay', CAST(0.30 AS Decimal(2, 2)))
INSERT [dbo].[LoaiSanPham] ([MaLoaiSP], [TenLoaiSP], [LoiNhuan]) VALUES (3, N'Vòng cổ', CAST(0.17 AS Decimal(2, 2)))
SET IDENTITY_INSERT [dbo].[LoaiSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([MaND], [TenND], [TenDangNhap], [MatKhau], [MaQH]) VALUES (1, N'ADMIN', N'admin', N'db69fc039dcbd2962cb4d28f5891aae1', 1)
INSERT [dbo].[NguoiDung] ([MaND], [TenND], [TenDangNhap], [MatKhau], [MaQH]) VALUES (2, N'An Bùi', N'builehoaian', N'3f9522b5b2bf39683f32e7dd1c4fcca3', 2)
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SoDT]) VALUES (1, N'Bùi An', N'Thủ Đức', N'0123321123')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SoDT]) VALUES (2, N'Vẫn là Bùi An', N'Bình Dương', N'0321321123')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SoDT]) VALUES (3, N'Vẫn là Bùi Ann nhưng có 2 chữ n', N'Đà Nẵng', N'0423234432')
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
INSERT [dbo].[PhieuBan] ([MaPhieu], [NgayLap], [MaKH]) VALUES (N'1', CAST(N'2022-10-21T10:17:21.320' AS DateTime), 1)
INSERT [dbo].[PhieuBan] ([MaPhieu], [NgayLap], [MaKH]) VALUES (N'2', CAST(N'2022-10-21T10:17:21.320' AS DateTime), 2)
INSERT [dbo].[PhieuBan] ([MaPhieu], [NgayLap], [MaKH]) VALUES (N'3', CAST(N'2022-10-21T10:17:21.320' AS DateTime), 3)
GO
INSERT [dbo].[PhieuMua] ([MaPhieu], [NgayLap], [MaNCC]) VALUES (N'1', CAST(N'2022-10-21T10:17:21.320' AS DateTime), 1)
INSERT [dbo].[PhieuMua] ([MaPhieu], [NgayLap], [MaNCC]) VALUES (N'2', CAST(N'2022-10-21T10:17:21.320' AS DateTime), 2)
INSERT [dbo].[PhieuMua] ([MaPhieu], [NgayLap], [MaNCC]) VALUES (N'3', CAST(N'2022-10-21T10:17:21.320' AS DateTime), 3)
GO
SET IDENTITY_INSERT [dbo].[QuyenHan] ON 

INSERT [dbo].[QuyenHan] ([MaQH], [TenQH]) VALUES (1, N'Admin')
INSERT [dbo].[QuyenHan] ([MaQH], [TenQH]) VALUES (2, N'Nhân viên')
SET IDENTITY_INSERT [dbo].[QuyenHan] OFF
GO
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonGia], [MaLoaiSP], [MaDV]) VALUES (N'1', N'Nhẫn 101', 1232122.7000, 1, 1)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonGia], [MaLoaiSP], [MaDV]) VALUES (N'10', N'Nhẫn ruby', 912302.2000, 5, 4)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonGia], [MaLoaiSP], [MaDV]) VALUES (N'2', N'Nhẫn 102', 322.2000, 1, 1)
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[ChiTietPhieuBan]  WITH CHECK ADD FOREIGN KEY([MaPhieu])
REFERENCES [dbo].[PhieuBan] ([MaPhieu])
GO
ALTER TABLE [dbo].[ChiTietPhieuBan]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietPhieuMua]  WITH CHECK ADD FOREIGN KEY([MaPhieu])
REFERENCES [dbo].[PhieuMua] ([MaPhieu])
GO
ALTER TABLE [dbo].[ChiTietPhieuMua]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD FOREIGN KEY([MaQH])
REFERENCES [dbo].[QuyenHan] ([MaQH])
GO
ALTER TABLE [dbo].[PhieuBan]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[PhieuMua]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaDV])
REFERENCES [dbo].[DonVi] ([MaDV])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaLoaiSP])
REFERENCES [dbo].[LoaiSanPham] ([MaLoaiSP])
GO
USE [master]
GO
