<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetProjects.WpfToolkit.Input" version="6.1.94" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="MaterialDesignColors" version="2.0.9" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="4.6.1" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="20.3.0.52" targetFramework="net48" />
  <package id="Syncfusion.Shared.WPF" version="20.3.0.52" targetFramework="net48" />
  <package id="Syncfusion.Tools.WPF" version="20.3.0.52" targetFramework="net48" />
  <package id="Syncfusion.Xamarin.Core" version="20.3.0.52" targetFramework="net48" />
  <package id="Syncfusion.Xamarin.SfAutoComplete" version="20.3.0.52" targetFramework="net48" />
  <package id="Xamarin.Forms" version="5.0.0.2012" targetFramework="net48" />
</packages>